@media (min-width: 767.98px) {
  .inputContainer .inputFilter {
    width: 8% !important;
  }
}

.tableContainer {
  thead th {
    background-color: rgba(49, 89, 81, 0.9) !important;
    color: #fff;
    font-size: 0.8rem;
    padding: 1.2rem 0;
  }

  tbody th {
    padding: 0.7rem 0;
  }

  tbody tr th {
    padding: 0.9rem 0 !important;
  }
}

/* Status and Activation Styles */
.bgNotAvtive {
  background-color: rgba(146, 46, 37, 0.7) !important;
}

.bgStatusProject {
  background-color: rgba(49, 89, 81, 0.9) !important;
  border: none !important;
  color: #fff !important;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  display: inline-block;
  text-align: center;
}

.bgStatusTask {
  background-color: rgb(155, 160, 233) !important;
  border-color: transparent !important;
  color: #fff;
}


